body {
    width: 90%; min-height: 500px;
    border: 1px solid #01010c;
    margin: 0 0 5% 5%; padding: 0.5%;
    background-color: #fffaf0;
    font-family: "Calibri Light", serif;
}
header> div> div.vid{
    margin-top: 0;
    border: 1px solid #01010c;
    width: 266px; min-height: available;
}
div.name-page>h1{
    min-width: 600px;
    text-align: center; letter-spacing: 20px;
    font-family: "Times New Roman", "Times", serif; color: #0a3002;
    border: 1px solid #0f0f0f;
}
body>nav{
    width: 266px; min-height: 300px;
    border: 1px solid #0f0f0f;
    align-self: start;
    float: left
}
body>main{
    width: 700px;
    float: left
}
body>div.clear-main{
    clear: both;

}

div.ushanka>div.vid{
    float: left;
}
div.ushanka>div.name-page {
    float: left;
}
div.ushanka>div:last-child {
    clear: both;
}


footer>div.shoes{
    min-height: 100px;
    border: 1px solid #01010c;
    vertical-align: bottom;
    font-family: Colibri light, serif; font-size: 72pt;
}

body>main>div.content{
    min-height: 300px;
    border: 1px solid #01010c;
}
